.meals {
  width: 90%;
  max-width: 90rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 5rem;
  margin: 2rem auto;
  list-style: none;
  padding: 0;
}

@media (max-width: 768px) {
  .meals {
    grid-template-columns: repeat(auto-fill, minmax(16rem, 2fr));
    grid-gap: 2rem;
    width: 92%;
  }
}

@media (max-width: 480px) {
  .meals {
    grid-template-columns: 1fr;
    grid-gap: 1.25rem;
  }
}
