.link {
  text-decoration: none;
  color: #ddd6cb;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.link:hover,
.link:active {
  /* background: linear-gradient(90deg, #ff8a05, #f9b331); */
  background: linear-gradient(90deg, #ffffff, #66bb6a);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-shadow: 0 0 18px rgba(102, 187, 106, 0.8); #66bb6a */
  transition: 0.3s;

  text-shadow: 0 0 18px #66bb6a; /* #1b5e20 */
}

.active {
  /* background: linear-gradient(90deg, #ff8a05, #f9b331); */
  background: linear-gradient(90deg, #66bb6a, #66bb6a);
  text-shadow: 0 0 18px #66bb6a; /* #1b5e20 */

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
